<ion-view style="" class=" " id="reset_password" title="Reset Password">
    <ion-content class="padding" has-header="true">
        <form name="resetPasswordForm" class="list " id="reset-password-form1">
            <ion-list class=" " id="login-list2">
                <div class="list">
                <label class="item item-input">
                  <span class="input-label">Email</span>
                  <input ng-model="user.email" type="email" placeholder="Email" required>
                </label>
                <button class="button button-full button-assertive" ng-click="resetPassword(resetPasswordForm,user)">Reset Password</button>
                </div>
            </ion-list>
        </form>
    </ion-content>
</ion-view>
