<ion-view style="" class=" " id="page15" title="Reset Password">
    <ion-content class="has-header" padding="true" style="background: url(img/bg1.jpg) center; background-size: cover;">
		<form name="resetPasswordForm" class="list " id="reset-password-form1">
            <ion-list class=" " id="login-list2">
                <div class="app-icon"></div>
                <label class="item item-input item-floating-label">
                    <span class="input-label" style="color: #9F9F9F;">Email</span>
                    <input ng-model="user.email" type="email" placeholder="Email" required>
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <button ng-click="resetPassword(resetPasswordForm,user)" class="button button-assertive  button-block  icon-left ion-ios-email-outline" id="signup-button3">Reset Password</button>
        </form>
	</ion-content>
</ion-view>