<ion-view style="" class=" " id="notifications" title="Notifications">
    <ion-content class="has-header" padding="true">
	    I AM NOTIFICATIONS PAGE</br>I AM NOTIFICATIONS PAGE</br>I AM NOTIFICATIONS PAGE</br>
	    I AM NOTIFICATIONS PAGE</br>I AM NOTIFICATIONS PAGE</br>I AM NOTIFICATIONS PAGE</br>
	    I AM NOTIFICATIONS PAGE</br>I AM NOTIFICATIONS PAGE</br>I AM NOTIFICATIONS PAGE</br>
	    I AM NOTIFICATIONS PAGE</br>I AM NOTIFICATIONS PAGE</br>I AM NOTIFICATIONS PAGE</br>
    </ion-content>
</ion-view>