<ion-view style="" class="" id="products" title="{{title}}">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBack()">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
     </ion-nav-buttons>

	<ion-content class="padding" ng-init="loadProducts()">
		<ion-refresher on-refresh="loadProducts();"></ion-refresher>
		<ion-item  type="item-text-wrap" ng-repeat="item in products | filter:search">
			<img ng-src="{{item.thumb}}" align="center" class="text-center ion-loading-c" title="{{item.name}}" />
			<span ng-bind-html="item.name"></span>
			<span ng-bind-html="item.product_id"></span>
			<a style="text-decoration:none;" ui-sref="tabsController.product_details({ product_id: {{item.product_id}} })">
				Read More
			</a>
		</ion-item>
	</ion-content>
</ion-view>
