<ion-view style="" class="" id="Signup" title="Sign Up">
    <ion-nav-button side="left">
        <button class="button button-clear" ng-click="goBack()" >
          <i class="icon ion-ios-arrow-back"></i>
        </button>
     </ion-nav-button>
    <ion-content class="padding">
        <form name="signupForm" class="list " id="signup-form2" novalidate>
            <ion-list class=" " id="signup-list3">
              <div class="list">

                <label class="item item-input">
                  <span class="input-label">First Name</span>
                  <input ng-model="user.firstname" type="text" placeholder="First Name" required>
                </label>

                <label class="item item-input">
                  <span class="input-label">Last Name</span>
                  <input ng-model="user.lastname" type="text" placeholder="Last Name" required>
                </label>

                <label class="item item-input">
                  <span class="input-label">Phone</span>
                  <input ng-model="user.phone" type="text" placeholder="Phone" required>
                </label>

                <label class="item item-input">
                  <span class="input-label">Email</span>
                  <input ng-model="user.email" type="email" placeholder="Email" required>
                </label>

                <label class="item item-input">
                  <span class="input-label">Password</span>
                  <input ng-model="user.password" type="password" placeholder="Password" required>
                </label>
                
                <button class=" button button-full button-assertive" ng-click="signupEmail(signupForm,user)">
                  SIGN UP WITH YOUR EMAIL
                </button>

               </div>
            </ion-list>
        </form>
    </ion-content>
    <!-- align to the bottom of the page -->
    <div style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center">
          <p>Already have an account? <a style="text-decoration:none;" ui-sref="login">Log in</a> now</p>
        </div>
    </div>
</ion-view>